.row{
    display: flex;  
    align-items: center;
    justify-content: center;
    padding: var(--smallPadding);
}
.col {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.between {
    justify-content: space-between;
}
.g1{
    gap : var(--g1);
}
.g2{
    gap : var(--g2);
}
.g3{
    gap : var(--g3);
}

