
@font-face {
    font-family: mainFont;
    src: url(../fonts/Lato-Italic.ttf);
  }

  div {
    font-family: var(--mainFont); 
 }

 a {
    text-decoration: none;
    color: black;
 }
 a:hover{
   text-decoration: underline;
 }
 .borderBottom{
    border-bottom: solid 1.1px lightgray;
 }
 .border{
    border: solid 1.1px lightgray;
 }

 .headFont{
   font-size: 2rem;
   font-weight: bold;
 }

 .limitParagraph{
   text-overflow:ellipsis;
   -webkit-line-clamp: 3; 
   max-width: 40%;   
 
 }


.row , .rowLeft , .rowRight{
    display: flex;  
    align-items: center;
    justify-content: center;
    padding: var(--smallPadding);
}
.rowLeft{
    justify-content: flex-start;
}
.rowRight{
    justify-content: flex-end;

}
.col {
    display: flex;
    flex-direction: column ;
    align-items: stretch;
    justify-content:stretch;
}


.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}
.g1{
    gap : var(--g1);
}
.g2{
    gap : var(--g2);
}
.g3{
    gap : var(--g3);
}

form {
    max-width: 22vw;
    padding: 10px;
    border: solid black 1px;
    border-radius: 3px;
    min-width: 21.2rem;

}
input , select {
    border-radius: 3px;
    border: black 0.8px solid;
    width: 100%;
    height: 50px ;
    
}

.imageContainer{
    border-radius: 3px;
    border: solid lightgray 0.8px;
}

button {
    border-radius: 3px;
    border: black 0.8px solid;
    background-color: white;
    cursor: pointer;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}
button:disabled{
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}
.primaryColor {
    background-color: var(--primaryColor);
    color : white
}


.margin1{
    margin: var(--g1);
}
.margin2{
    margin: var(--g3) ;
}





















#logoContainer{
    width: 40px;
    height: 40px; 
}

#header{
    border-bottom: 1.2px solid lightgray;
}

.formBoxHolder{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    padding-left: 2cm;
    padding-right: 2cm;
    padding-top: 0px;
    padding-bottom: 0px;
}



/* .slide {
    flex: 1;
    background-size: cover;
    transition: opacity 1s ease-in-out;
    animation: fadeIn 2s ease-in-out infinite; /* Change the duration to control how long each image is shown 
}     */

#slide1 {
    background-image: url('../images/pictures/a.png');
}
#slide2 {
    background-image: url('../images/pictures/b.png');
}
#slide3 {
    background-image: url('../images/pictures/c.png');
}
#slide4 {
    background-image: url('../images/pictures/d.png');
}

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    animation: monAnimation 3s  infinite;
}

@keyframes monAnimation {
    0% {
        background: url('../images/pictures/a.png') center center/ 200px auto no-repeat;
    }

    25% {
        background: url('../images/pictures/c.png') center center/ 200px auto no-repeat;
    }

    50% {
        background: url('../images/pictures/b.png') center center/ 200px auto no-repeat;
    }

    75% {
        background: url('../images/pictures/d.png') center center/ 200px auto no-repeat;
    }

    100% {
        background: url('../images/pictures/a.png') center center/ 400px auto no-repeat;
    }
}




.formsContainer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: solid black 1px;
    /* border : solid red 2px ; */
    position: relative;
    padding-bottom: 70px;
}

.addFormBox {
    align-items: center;
    justify-content: center;
    min-width : 22vw ;
    align-self: stretch;
}

.comparisonButton{
    position: absolute;
    margin-top: 1cm;
    bottom: 0;
    left : 50% ; 
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e90ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.headerColumnItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
}

.headerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    color: #1e90ff;
    width: 200px;
    border-left: 0.8px black solid;


}

.column {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 250px;
    border-left: solid black 0.3px;
    border-right: solid black 0.3px;
}
.imgColumn{
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    overflow: hidden;
}

.tableRow{
    padding: 0px;
    align-items: stretch;
    border-top : black solid 0.5px;
    border-bottom : black solid 0.5px;
}