
@font-face {
    font-family: mainFont;
    src: url(../fonts/Lato-Italic.ttf);
  }

  div {
    font-family: var(--mainFont); 
 }

 a {
    text-decoration: none;
    color: black;
 }
 a:hover{
   text-decoration: underline;
 }
 .borderBottom{
    border-bottom: solid 1.1px lightgray;
 }
 .border{
    border: solid 1.1px lightgray;
 }

 .headFont{
   font-size: 2rem;
   font-weight: bold;
 }

 .limitParagraph{
   text-overflow:ellipsis;
   -webkit-line-clamp: 3; 
   max-width: 40%;   
}
.description {
    text-overflow:ellipsis;
    -webkit-line-clamp: 3; 
    max-width: 80%;   
}

.color{
    width: 50px ;
    height: 50px;
    border-radius: 50%;
    margin: 3px;
}
.rateThisCarSection{
    margin-top: 50px;
}

.miniImages{
    width: 800px;
    border-radius: 3px;
    border: solid lightgray 0.8px;
    display: flex;
    justify-content: flex-start;
}

 

.frow{
    gap : 10px ;
}
.relative{
    position: relative;
}

.row , .rowLeft , .rowRight , .frow{
    /* border : solid red 0.5px; */
    display: flex  !important ;
    align-items: center !important ;
    justify-content: center !important ;
    padding: var(--smallPadding) !important ;
}
.rowLeft{
    justify-content: flex-start !important;
}
.rowRight{
    justify-content: flex-end;

}
.col , .fcol {
    display: flex;
    flex-direction: column ;
    align-items: stretch;
    justify-content:stretch;
}


.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}
.g1{
    gap : var(--g1);
}
.red{
    border : solid red 1px;
}
.green{
    border : solid green 1px;
}
.g2{
    gap : var(--g2);
}
.g3{
    gap : var(--g3);
}
.g4{
    gap : 150px;
}
.g5{
    gap : 200px;
}

form {
    max-width: 22vw;
    padding: 10px;
    border: solid black 1px;
    border-radius: 3px;
    min-width: 21.2rem;

}
input , select {
    border-radius: 3px;
    border: black 0.8px solid;
    width: 100%;
    height: 50px ;
    
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
    background-color: white;
    cursor: pointer;
}

.imageContainer{
    border-radius: 3px;
    border: solid lightgray 0.8px;
}

button {
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    padding: 4px;
    font-size: 1.2rem;
    color: black;
}
button:disabled{
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}
.primaryColor {
    background-color: var(--primaryColor);
    color : white
}


.margin1{
    margin: var(--g1);
}
.margin2{
    margin: var(--g3) ;
}





















#logoContainer{
    width: 40px;
    height: 40px; 
}

#header{
    border-bottom: 1.2px solid lightgray;
}

.formBoxHolder{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    padding-left: 2cm;
    padding-right: 2cm;
    padding-top: 0px;
    padding-bottom: 0px;
}
#compareButton{
    position: absolute  ;
    right: 60%;
    bottom: 0px;
    width: 100px;
}

.formsContainer {
    padding-bottom: 2cm !important;
}


/* .slide {
    flex: 1;
    background-size: cover;
    transition: opacity 1s ease-in-out;
    animation: fadeIn 2s ease-in-out infinite; /* Change the duration to control how long each image is shown 
}     */

#slide1 {
    background-image: url('../images/pictures/a.png');
}
#slide2 {
    background-image: url('../images/pictures/b.png');
}
#slide3 {
    background-image: url('../images/pictures/c.png');
}
#slide4 {
    background-image: url('../images/pictures/d.png');
}

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    animation: monAnimation 3s  infinite;
}

@keyframes monAnimation {
    0% {
        background: url('../images/pictures/a.png') center center/ 200px auto no-repeat;
    }

    25% {
        background: url('../images/pictures/c.png') center center/ 200px auto no-repeat;
    }

    50% {
        background: url('../images/pictures/b.png') center center/ 200px auto no-repeat;
    }

    75% {
        background: url('../images/pictures/d.png') center center/ 200px auto no-repeat;
    }

    100% {
        background: url('../images/pictures/a.png') center center/ 400px auto no-repeat;
    }
}




.formsContainer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: solid black 1px;
    /* border : solid red 2px ; */
    position: relative;
    padding-bottom: 70px;
}

.addFormBox {
    align-items: center;
    justify-content: center;
    min-width : 22vw ;
    align-self: stretch;
}

.comparisonButton{
    position: absolute;
    margin-top: 1cm;
    bottom: 0;
    left : 50% ; 
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e90ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.headerColumnItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
}

.headerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    color: #1e90ff;
    width: 200px;


}

.column {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 250px;
    /* border-left: solid black 0.3px; */
    /* border-right: solid black 0.3px; */
}
.imgColumn{
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    overflow: hidden;
}

.tableRow{
    padding: 0px;
    align-items: stretch;
    border-top : black solid 0.5px;
    border-bottom : black solid 0.5px;
}

/* .carCard{
    max-width: 300px;
    max-height: 300px;
    border: #1e90ff solid 1px;
} */

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.hidden{
    display: none !important;
}

.fit{
    padding: 20px;
    max-width: fit-content;
    max-height: fit-content;
}

.topNotificationError{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 100;
}


.favouriteCard{
    position: relative;
    max-width: 300px;
    max-height: 300px;
}
.delete{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e75231;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.stretch{
    align-self: stretch;
}


/** new update */

imagesDrawer{
    max-width: 90vw;
    align-items: stretch;
}

.brandsSection {
    padding: 20px;
}

.up{
    align-items: stretch !important;
}





.comparedVehicle{
    max-width: 250px;
    padding-left: 20px;
}

.comparisonCard{
    min-width: 100vw !important;
}



.comparisonSlider {
    /* overflow: hidden; */
    max-width: 100vw;
    position: relative;
}

.comparisonCard {
    width: 100%; 
}
.slidesContainer {
display: flex;
}

.leftArrow{
    position: absolute;
    top: 50%;
    left : 50px;
    z-index: 100;
}

.rightArrow{
    z-index: 100;
    position: absolute;
    right: 50px;
    top : 50%; 
}

.popularComparisons{
    position: relative;
 
}
.comparisons{
    position: relative;
}


th {
    background-color: lightblue;
}

table {
    border : dotted 1.5px red ;
}

td {
    border : solid 0.2px black 
}
tr:nth-child(2n+1) {
    background-color: rgb(0, 124, 128);
}

#monTitre{
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    font-family:cursive;
}

@keyframes monAnimation {
    0%
        {
           background: url("./static/f1.jpg") center center/ 400px auto no-repeat }

           25% {
               border: solid purple 2px ;
           background: url("./static/f2.jpg") center center/ 400px auto no-repeat  }

           50% {
            border: solid purple 2px ;
            background: url("./static/f3.jpg") center center/ 400px auto no-repeat  }
           

   100%
  { background: url("./static/f4.jpg")  center center/ 400px auto no-repeat }
}
 
#animation{
    color : rgb(44, 171, 9) ;
    max-width: 400px !important ; 
    width: fit-content;
    min-height: 500px;
    min-width: 700px ;
    
object-fit: none;
    border: solid 2px ;
    border-radius: 4px;
    animation: monAnimation 10s infinite;
    animation-timing-function: ease-in-out;

}
#animation:hover {
    animation-play-state:paused ; 
    animation-fill-mode: backwards;
}
#mesLiens{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 25px ;
    list-style-type  : none ; 
    list-style: none ;
    text-decoration: none ;
    align-items: center;
    /* background-color: rgb(163, 129, 219); */
    height: 80px;
}

a {
    text-decoration: none;
    color : inherit ;
}
a:focus {
    color : rgb(119, 255, 0) ;
}



 #list{ 
    display: none;
} 


#marques:focus + #list  {
    display:block;
    border: solid black ;
}

.form{
    margin: 5%;
    width: 500px;
    border-radius: 15px;
    border: solid 1.2px lightgray;
    height: 350px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    pad: 10px;
}

.form input , select {
    width: 90%;
    border-radius: 5px;
    height: 35px;
}
#form{
    display: none;
}


.popularComparisons{
    overflow-y: hidden;
    max-width: 95vw;
    overflow: hidden !important;
}

.comparisonContainer{
    position: relative;
}
.comparisonContainerMini{
    margin-right: 2cm;
    position: relative;
    padding-bottom: 2cm !important;

}
comparisonContainerMini button {
    border : solid 1px rgb(116, 16, 16) ;
}