:root {
    --primaryColor: #007bff;
    --fontFamily: 'Arial', sans-serif;
    --smallPadding : 10px ; 
    --mediumPadding : 25px ; 
    --mainFont : "mainFont" , bold  ; 
    --g1 : 10px ; 
    --g2 : 20px ; 
    --g3 : 30px ; 
}

body {
    color: var(--primarColor);
    font-family: var(--mainFont);
}
 * {
    margin: 0;
    padding: 0px;
    
 }

